{% macro display_name(n) %}
    <code style="white-space: pre-wrap;">{{ n }}</code>
    {% if n is not none() and n.startswith(" ") or n.endswith(" ") %}
        <span
            data-toggle="tooltip"
            data-placement="top"
            title="Contains {% if n.startswith(' ') and n.endswith(' ') %}leading and trailing{% elif n.startswith(' ') %}leading{% else %}trailing{% endif %} spaces"
            class="glyphicon glyphicon-question-sign"
            aria-hidden="true">
        </span>
    {% endif %}
{% endmacro %}

<div>
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active">
            <a href="#valid" aria-controls="valid" role="tab" data-toggle="tab">
                Still valid <span class="badge">{{ valid_certs|length }}</span>
            </a>
        </li>
        <li role="presentation">
            <a href="#expired" aria-controls="expired" role="tab" data-toggle="tab">
                Expired <span class="badge">{{ expired_certs|length }}</span>
            </a>
        </li>
        <li role="presentation">
            <a href="#revoked" aria-controls="revoked" role="tab" data-toggle="tab">
                Revoked <span class="badge">{{ revoked_certs|length }}</span>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        {% for label, certs in [("valid", valid_certs), ("expired", expired_certs), ("revoked", revoked_certs)] %}
            <div role="tabpanel" class="tab-pane{% if loop.first %} active{% endif %}" id="{{ label }}">
                {% if certs %}
                    <table class="table table-striped">
                        <thead>
                            <th>crt.sh id</th>
                            <th>Subject Common Name</th>
                            <th>SAN dNSNames</th>
                            <th>Started tracking</th>
                            <th>Expires on</th>
                        </thead>
                        <tbody>
                            {% for group in certs|groupby("certificate.owner_display") %}
                                <tr>
                                    <td colspan="6">
                                        <strong>{{ group.grouper }}</strong>
                                        <span class="badge">{{ group.list|length }}</span>
                                    </td>
                                </tr>
                                {% for cert in group.list|sort(attribute="certificate.expiration_date") %}
                                    <tr>
                                        <td>
                                            <a href="https://crt.sh/?id={{ cert.certificate.crtsh_id }}&opt=cablint">
                                                <code>{{ cert.certificate.crtsh_id }}</code>
                                            </a>
                                        </td>
                                        <td>
                                            {{ display_name(cert.certificate.common_name) }}
                                        </td>
                                        <td>
                                            {% if cert.certificate.san_dns_names %}
                                                {% for n in cert.certificate.san_dns_names %}
                                                    {{ display_name(n) }}
                                                    {% if not loop.last %},{% endif %}
                                                {% endfor %}
                                            {% elif cert.certificate.san_dns_names is none() %}
                                                <em>No SAN present</em>
                                            {% else %}
                                                <em>SAN present, but no dNSName entries</em>
                                            {% endif %}
                                        </td>
                                        <td><time class="timeago" datetime="{{ cert.added_at }}Z"></time></td>
                                        <td>{{ cert.certificate.expiration_date.date() }}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No certs in this category</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
