{% macro display_name(n) %}
    <code style="white-space: pre-wrap;">{{ n }}</code>
    {% if n.startswith(" ") or n.endswith(" ") %}
        <span
            data-toggle="tooltip"
            data-placement="top"
            title="Contains {% if n.startswith(' ') and n.endswith(' ') %}leading and trailing{% elif n.startswith(' ') %}leading{% else %}trailing{% endif %} spaces"
            class="glyphicon glyphicon-question-sign"
            aria-hidden="true">
        </span>
    {% endif %}
{% endmacro %}

{% for label, certs in [("Still Valid", valid_certs), ("Expired", expired_certs), ("Revoked", revoked_certs)] %}
    <h3>{{ label }} ({{ certs|length }})</h3>
    {% if certs %}
        <table class="table table-striped">
            <thead>
                <th>crt.sh id</th>
                <th>Subject Common Name</th>
                <th>SAN dNSNames</th>
                <th>Started tracking</th>
                <th>Expires on</th>
            </thead>
            <tbody>
                {% for group in certs|sort(attribute="certificate.issuer_common_name")|groupby("certificate.issuer_common_name") %}
                    <tr>
                        <td colspan="6"><strong>{{ group.grouper }}</strong></td>
                    </tr>
                    {% for cert in group.list|sort(attribute="certificate.expiration_date") %}
                        <tr>
                            <td>
                                <a href="https://crt.sh/?id={{ cert.certificate.crtsh_id }}&opt=cablint">
                                    <code>{{ cert.certificate.crtsh_id }}</code>
                                </a>
                            </td>
                            <td>
                                {{ display_name(cert.certificate.common_name) }}
                            </td>
                            <td>
                                {% if cert.certificate.san_dns_names %}
                                    {% for n in cert.certificate.san_dns_names %}
                                        {{ display_name(n) }}
                                        {% if not loop.last %},{% endif %}
                                    {% endfor %}
                                {% else %}
                                    <code>{{ cert.certificate.san_dns_names }}</code>
                                {% endif %}
                            </td>
                            <td><time class="timeago" datetime="{{ cert.added_at }}Z"></time></td>
                            <td>{{ cert.certificate.expiration_date.date() }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No certs in this category</p>
    {% endif %}
{% endfor %}
