{% extends "base.html" %}

{% block body %}
    <h3>CABLint recent error summary <small>since {{ since }}</small></h3>

    <p>
        Some of these may be false-positives. You should review closely before
        taking action.
    </p>

    <table class="table table-striped">
        <thead>
            <th># of affected certificates</th>
            <th>CA ID</th>
            <th>CCADB Owner</th>
            <th>Severity</th>
            <th>Description</th>
        </thead>
        <tbody>
            {% for summary in cablint_summaries %}
                <tr>
                    <td>
                        <a href="https://crt.sh/?cablint={{ summary.lint_id }}&iCAID={{ summary.ca_id }}&minNotBefore={{ since }}">
                            {{ summary.count }}
                        </a>
                    </td>
                    <td>
                        <a href="https://crt.sh/?caid={{ summary.ca_id }}&opt=cablint">
                            {{ summary.ca_id }}
                        </a>
                    </td>
                    <td>{{ " / ".join(summary.ccadb_owners) }}</td>
                    <td>{{ summary.lint_severity }}</td>
                    <td>{{ summary.lint_description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
